* {
    background-color: #FFEFD6;
}

.landingTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 8px;
    padding: 50px 70px 50px 70px;
    text-align: center;
}

.landingTitle h1 {
    font-size: 60px;
    color: black;
}

.landingTitle p {
    font-size: 0.9rem;
}

.landingTitle:hover {
    opacity: 0;
    transition: 1s;
}

.landingNavBar {
    height: 80px;
    background-color: #80A142;
}